* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  font-family: "Poppins", sans-serif;
  background: url("/public/images/bg.jpg");
  width: 100%;
  background-size: auto;
  height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: visible;
}

.pos-center{
  box-sizing: content-box;
  width: 40%;
  align-items: center;
  color: #1f2235;
  margin: 15% 30%;
  border: 10px solid limegreen;
  border-radius: 2px red;
  font-size: large;
 font-weight: 500;
 padding-inline-start: 5px;
 justify-content: center;
}

.card{
  border: 10px solid limegreen;
}

.h2e {
  margin: 30px 600px;
  color: greenyellow;
}